extend layout

block content
  main
    h1= title
    label(for='hashtagfinder') Type in your hashtag:
    div
    input(type='text', placeholder='yourhashtag' name='hashtag')
    input(type='submit' value='send' name='button')
  
  script(src="js/socket.js")
  script(src='js/script.js')
