doctype html
html(lang='nl')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')

    title= title
    block css        
      link(rel='stylesheet', href='/css/style.css')
      link(href='https://fonts.googleapis.com/css?family=Noto+Sans' rel="stylesheet")
  body
    block content
    script(src='js/script.js')
