extend layout

block content
  h1= title
  form(method='POST' action='/register')
    label(for='email') Emailadress:
    input(type='text', placeholder='Emailadress' name='email')
    label(for='username') Username:
    input(type='text', placeholder='username' name='username')
    label(for='password') Password:
    input(type='text', placeholder='*******' name='password')
    button(type='submit') register now
    
