* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  padding: 2em;
}

article {
  display: flex;
  margin: 2em 0;
  padding: 2em;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  animation: fade-in-up 0.4s forwards;
}
article h2 {
  margin-bottom: 1em;
}

article p {
  margin: auto;
  padding: 2em;
}
section img {
  width: 5em;
  border-radius: 50%;
}

label {
  display: block;
}
form {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

.btn {
  padding: 2em;
  background: #2e2e2e;
  margin-top: 2em;
  color: #fff;
  border: none;
  width: 100%;
}

input {
  padding: 1em;
}

input[name="hashtag"] {
  width: 100%;
  padding: 2em;
  border: 1px solid black;
}

label {
  padding: 1em 0;
}
input[type="submit"] {
  margin-top: 1em;
  border: none;
}

@media (min-width: 1000px) {
  main {
    width: 50%;
    margin: auto;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
